---
layout: default
---

<h5 style="color:#cd1a1a;">As of 13 August 2023 My LinkedIn account was hacked. <br>
  Still waiting for LinkedIn support to help on this.<br/>
  In the meantime, you can <a id="contact" href="" style="color:#cd1a1a;">Send me an email</a>
</h5>
<br/>

{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include skills.html %}

{% include experiences.html %}

{% include projects.html %}

{% include oss-contributions.html %}

{% include publications.html %}
